body{
  position: relative;
  background-image: url("http://res.cloudinary.com/macskasa/image/upload/v1486988983/Wood-067_qweyra.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-darkgrey {
  background-color: #432f3c;
}

.narrow-bottom-shadow{
  box-shadow: 0px 3px 3px 0px black;
}

.rotate{
  transition: transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  -webkit-transition: -webkit-transform .8s ease-in-out;
}

.rotate:hover{
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}

.about-me{
  width: 90%;
  margin: 10px auto 10px auto;
}